@media screen and (min-width: 0) {
    .banner--container {
        background-image: url(../../../img/banner.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
    }
    
    .banner-text {
        height: 25vh;
        display:flex;
        flex-direction: column;
        justify-content:end;
        align-items: right;
        gap: 1rem;
        padding: .5rem;

    }

    .banner-title {
        color: #FEFEFE;
        font-size: 2rem;
        font-weight: bold;
    }

    .banner-sub {
        color: #FEFEFE;
        font-size: .8rem;
    }

    .banner-btn {
        width: 10rem;
        height: 3.5rem;
        font-size: 1rem;
        background: #5595E9;
        border: #5595E9;
        color: #FEFEFE;
        transition: 1s;
    }

    .banner-btn:hover {
        background: #FEFEFE;
        border: #FEFEFE;
        color: #5595E9;
    }
}

@media screen and (min-width: 768px) {
    .banner-text {
        margin-left: 1rem;
    }
    
    .banner-title {
        font-size: 2rem;
    }

    .banner-sub {
        font-size: 1rem;
    }

    .banner-btn {
        width: 8rem;
        height: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .banner-text {
        margin-left: 3rem;
    }
    
    .banner-title {
        font-size: 2.5rem;
    }

    .banner-sub {
        color: #FEFEFE;
        font-size: 1rem;
    }

}

@media screen and (min-width: 1200px) {
    .banner--container {
        height: 40vh;
    }

    .banner-text {
        height: 35vh;
        margin-left: 10rem;
    }
    
    .banner-title {
        font-size: 3rem;
    }

    .banner-sub {
        color: #FEFEFE;
        font-size: 1.5rem;
    }
}