@media screen and (min-width: 0) {
    .section--container {
        display:flex;
        flex-direction: column;
        margin-top: 3rem;
        align-items: center;
        width: 100%;
    }

    .title--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        align-items: center;
        margin-bottom: 2rem;
    }

    .section-title {
        font-size: 25px;
        font-weight: bold;
    }

    .section-button {
        background-color: #2A7AE4;
        border: none;
        color: #FEFEFE;
        font-size: 15px;
        height: 7vh;
        font-weight: bold;
        cursor: pointer;
    }

    .section-button:hover {
        background-color: #FEFEFE;
        color: #2A7AE4;
    }

    .product-section--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
    }

    .product-img {
        width: 35vw;
    }

    .product-img, .product-title, .product-price {
        margin-bottom: .5rem;
    }

    .product-title {
        color: #464646;
        font-weight: 600;
        font-size: 15px;
    }

    .product-price {
        font-weight: bold;
    }
    
    .product-tag {
        background-color: #FFFFFF;
        border: none;
        color: #404040;
        font-weight: bold;
        font-size: 15px;
        padding: 0;
    }

    .product-edit {
        margin-top: .5rem;
        background-color: #2A7AE4;
        opacity: 70%;
        border: none;
        border-radius: 1rem;
        width: 60px;
        height: 25px;
        color: #FEFEFE;
        cursor: pointer;
    }
    
    .product-delete {
        margin: .5rem 0;
        background-color: red;
        opacity: 70%;
        border: none;
        border-radius: 1rem;
        width: 60px;
        height: 25px;
        color: #FEFEFE;
        cursor: pointer;
    }
    .product-button {
        background-color: #FFFFFF;
        border: none;
        color: #2A7AE4;
        font-weight: bold;
        font-size: 16px;
        padding: 0;
        cursor: pointer;
    }


}

@media screen and (min-width: 768px) {
    .product-section--container {
        padding-bottom: 4rem;
    }

    .product-section--container {
        padding-bottom: 4rem;
        width: 80%;
    }
    
    .product-img {
        width: 20vw;
    }
}

@media screen and (min-width: 992px) {
    .product-section--container {
        padding-bottom: 4rem;
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .title--container {
        width: 60%;
    }

    .section-title {
        font-size: 30px;
    }

    .product-section--container {
        gap: 1.25rem;
        padding: 1rem;
        width: 70%;
    }

    .product-img {
        width: 10vw;
    }

    .section-button {
        width: 10vw;
        height: 5vh;
    }

}