@media screen and (min-width: 0) {
    .section--container {
        display:flex;
        flex-direction: column;
        margin-top: 3rem;
        align-items: center;
        width: 100%;
    }

    .title--container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        align-items: center;
        margin-bottom: 2rem;
    }

    .section-title {
        font-size: 25px;
        font-weight: bold;
    }

    .section-button {
        background-color: #FFFFFF;
        border: none;
        color: #2A7AE4;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .product-section--container {
        display: grid;
        justify-content: center;
        grid-template-columns: 40% 40%;
        grid-template-rows: 50% 50%;
        gap: 1.5rem;
    }

    .product--container:nth-child(5), .product--container:nth-child(6) {
        display: none;
    }

    .product-img {
        width: 35vw;
    }

    .product-img, .product-title, .product-price {
        margin-bottom: .5rem;
    }

    .product-title {
        color: #464646;
        font-weight: 600;
        font-size: 15px;
    }

    .product-price {
        font-weight: bold;
    }
    
    .product-button {
        background-color: #FFFFFF;
        border: none;
        color: #2A7AE4;
        font-weight: bold;
        font-size: 16px;
        padding: 0;
        cursor: pointer;
    }


}

@media screen and (min-width: 768px) {
    .product-section--container {
        display: grid;
        justify-content: center;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 100%;
    }
    
    .product-img {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .title--container {
        width: 60%;
    }

    .section-title {
        font-size: 30px;
    }

    .product-section--container {
        display: grid;
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
        grid-template-rows: 100%;
        gap: 1.25rem;
        padding: 1rem;
    }

    .product--container:nth-child(5), .product--container:nth-child(6) {
        display: block;
    }

}